@using SeyahatGeziWebProje.Models.Siniflar
@model List<iletisim>
@{
    ViewBag.Title = "MailListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mail Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD-SOYAD</th>
        <th>MAİL</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/MailSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/MailGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>